.header {
    color: #6e6e74;
    font-size: 21px;
    text-align: left;
    font-weight: 600;
    margin: 20px 10px 10px;
}

.header > .subtitle {
    color: #E91E63;
    font-weight: 300;
    margin-left: 8px;
}

.task {
    font-weight: 600;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: linear-gradient(145deg, #ebff8f, #8ffff6, #ff8fcc);;
}

.main_container {
    display: grid;
    grid-template-areas: "calendar" "footer";
    grid-template-rows: 1fr 60px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

#Calendar {
    grid-area: calendar;
}

#Footer {
    grid-area: footer;
}

.block {
    padding: 17px 17px 30px;
    margin: 0 15px;
    flex-grow: 1;
    width: 260px;
    border-radius: 10px;
    background: linear-gradient(145deg, #dbffdb, #e3ff8f);
    box-shadow: 18px 20px 50px rgba(0, 0, 0, 0.4),
    -7px -7px 50px rgba(255, 255, 255, 0.5),
    inset -4px -4px 9px #b67dd6d1,
    inset 5px 5px 9px #e5ffe6;
}

.grid_container {
    /*display: grid;*/
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;

    max-width: 800px;
    margin: auto;
}

.day {
    width: 100%;
    height: 30px;
    cursor: pointer;
    margin: 3px;
    border-radius: 20px;
    line-height: 30px;
    font-size: 14px;
}

.day_empty {
    width: 100%;
    height: 30px;
    margin: 3px;
}

.day:hover {
    background-color: rgba(55, 58, 60, 0.07);
}

.week_names {
    width: 100%;
    height: 30px;
    margin: 3px;
    font-size: 14px;
    color: #838383;
    line-height: 30px;
}

.today {
    background: #ff51ae;
    color: white !important;
    font-weight: bold;
}

.today:hover {
    background: #ee3799;
}

.tasks {
    color: #fe51ae;
    font-weight: 600;
    position: relative;
}

.tasks:after {
    content: '';
    height: 4px;
    width: 4px;
    background: #fe51ae;
    position: absolute;
    bottom: 3px;
    right: 12px;
    border-radius: 4px;
}

.today:after {
    background: white;
}

.task_list_block {
    margin: 8px;
    max-height: 145px;
    overflow: auto;
    padding-bottom: 20px;
}

.task_list {
    text-align: left;
}

.input_task {
    margin: 0px 5px 5px 10px;
    font-size: 15px;
    font-family: inherit;
    padding: 5px 10px;
    border: 1px solid #fe51ae;
    border-radius: 15px;
    width: 210px;
}

.input_task:focus {
    outline: transparent;
    border-color: #50b3ff;
    box-shadow: 0px 0px 0px 1px #50b3ff;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    .flex_container {
        justify-content: center;
        align-items: stretch;
        flex-direction: column;

        max-width: 300px;
        margin: auto;
    }

    .block {
        padding: 10px 10px 30px;
        margin: 0 0 20px;
        flex-grow: 1;
        width: 260px;
        min-height: 200px;
    }

    .task_list_block {
        max-height: inherit;
    }
}


input[type=checkbox] + label {
    margin: 3px;
    line-height: 25px;
}

input[type=checkbox]:checked + label {
    color: rgba(17, 16, 16, 0.40);;
    font-style: normal;
    text-decoration: line-through;
}